node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Paraglide
src/lib/paraglide
project.inlang/cache/

# Rust analyzer generated
target

# svelte build
dist

# log
*.log

# ide
.opencode

# Android
src-tauri/gen/android/
src-tauri/target/

# Build artifacts
*.apk*
*.aab
scripts/release-key.jks
dist-linux

# cache
image_cache
